body {
  margin: 0;
  padding: 0;
  color: #ebebeb;
  font-family: sans-serif;
  background: #212c34;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffcc00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fbdb5a;
}
